@page "/manufacture/add"
@page "/manufacture/edit/{Id:int}"
@using SampleBlazorCURD.Shared
@inject HttpClient Http
@inject NavigationManager NavigationManager
<h1>@Title Manufacturer</h1>
<hr />
<EditForm Model="@user" OnValidSubmit="SaveUser" enctype="multipart/form-data">
    <DataAnnotationsValidator />
    <div class="row col-12">
        <label for="Manufacture" class="form-label"><strong>Manufacture</strong></label>
        <br />
        <div class="col-4">            
            <label for="Name" class="form-label"><strong>Name </strong></label>
            <div class="col-md-6">
                <InputText class="form-control" @bind-Value="user.Name" />
            </div>
            <ValidationMessage For="@(() => user.Name)" />
        </div>
        <div class="col-4">            
            <label for="Address" class="form-label"><strong>Address </strong></label>
            <div class="col-md-6">
                <InputText class="form-control" @bind-Value="user.Address" />
            </div>
            <ValidationMessage For="@(() => user.Address)" />
        </div>
    </div>
    <div class="row col-12">
        <div class="col-4">
            <label for="Emailid" class="form-label"><strong>E-mail </strong></label>
            <div class="col-md-6">
                <InputText class="form-control" @bind-Value="user.EmailId" />
            </div>
            <ValidationMessage For="@(() => user.EmailId)" />
        </div>
        <div class="col-4">
            <label for="nameofcontact" class="form-label"><strong>Name of Contact </strong></label>
            <div class="col-md-6">
                <InputText class="form-control" @bind-Value="user.NameOfContact" />
            </div>
            <ValidationMessage For="@(() => user.NameOfContact)" />
        </div>
        <div class="col-4">
            <label for="PhoneNumber" class="form-label"><strong>Mobile No</strong></label>
            <div class="col-md-6">
                <InputText class="form-control" @bind-Value="user.PhoneNumber" />
            </div>
            <ValidationMessage For="@(() => user.PhoneNumber)" />
        </div>
    </div>    
   
    <div class=" row col-12">
        <br/>
        <div class="col-2">
            <label for="Location" class="form-label"><strong>Location</strong></label>
            <InputText class="form-control" @bind-Value="user.Location" />
        </div>
        <div class="col-2">
            <label for="State" class="form-label"><strong>State</strong></label>
            <InputText class="form-control" @bind-Value="user.State" />
        </div>
        <div class="col-2">
            <label for="Mandal" class="form-label"><strong>Mandal</strong></label>
            <InputText class="form-control" @bind-Value="user.Mandal" />
        </div>
        <div class="col-2">
            <label for="Village" class="form-label"><strong>Village</strong></label>
            <InputText class="form-control" @bind-Value="user.Village" />
        </div>
        <div class="col-2">
            <label for="Pincode" class="form-label"><strong>Pincode</strong></label>
            <InputText class="form-control" @bind-Value="user.Pincode" />
        </div>
        <ValidationMessage For="@(() => user.State)" />
        <ValidationMessage For="@(() => user.Mandal)" />
        <ValidationMessage For="@(() => user.Village)" />
        <ValidationMessage For="@(() => user.Pincode)" />
    </div>   
    <div class="mb-3">
        <br />
        <br />
        <label for="FileContent" class="form-label"><strong>Upload File</strong></label>
        <br />
        <div class="col-md-4">
            <InputFile class="form-control" @bind-Value="user.FileContent" />
        </div>
        <ValidationMessage For="@(() => user.FileContent)" />
    </div>
    <div class="row col-12">
        <br />
        <br />
        <label for="issueDate" class="form-label"><strong>License Details</strong></label>
        <br />
        <div class="col-3">
            <label for="LicenseNumber" class="form-label"><strong>License Number</strong></label>
            <InputText class="form-control" @bind-Value="user.LicenseNumber" />
        </div>
        <div class="col-3">
            <label for="Issue Date" class="form-label"><strong>Issue Date</strong></label>
            <InputDate class="form-control" @bind-Value="user.IssueDate" />
        </div>
        <div class="col-3">
            <label for="Valid UpToDate" class="form-label"><strong>Valid UpToDate</strong></label>
            <InputDate class="form-control" @bind-Value="user.ValidUpToDate" />
        </div>
        <ValidationMessage For="@(() => user.LicenseNumber)" />
        <ValidationMessage For="@(() => user.IssueDate)" />
        <ValidationMessage For="@(() => user.ValidUpToDate)" />
    </div>


    <div class="form-group">
        <br />
        <br />
        <button type="submit" class="btn btn-primary">Save</button>
        <button class="btn btn-light" @onclick="Cancel">Cancel</button>
    </div>
</EditForm>
@code {
    [Parameter]
    public int Id { get; set; }
    protected string Title = "Add";
    protected ManufacturingCompany user = new();
    protected override async Task OnParametersSetAsync()
    {
        if (Id != 0)
        {
            Title = "Edit";
            user = await Http.GetFromJsonAsync<ManufacturingCompany>("api/Manufacture/" + Id);
        }
    }
    protected async Task SaveUser()
    {
        if (user.Id != 0)
        {
            await Http.PutAsJsonAsync("api/Manufacture", user);
        }
        else
        {
            await Http.PostAsJsonAsync("api/Manufacture", user);
        }
        Cancel();
    }
    public void Cancel()
    {
        NavigationManager.NavigateTo("/fetchdetails");
    }
}
